<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Suicial Ideation Detection using Tweets</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"><link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="/Static/style.css">
</head>
<body>

<div class="box-form">
	<div class="left">
		<div class="overlay">
		<h1>Suicidal<h1>
        <h1>Ideation</h1>
        <h1>Detection</h1>
		<p>Detect a person's suicidal Ideation Detection 
            with the highly efficient and accurate model here.</p>
		</div>
	</div>
	
		<div class="right">
		<h5>Twitter</h5>
		<p>Enter the user's Twitter url: </p>
		<div class="inputs">
            <form method="POST">
                <input type="text" name="url" placeholder="Valid Twitter URL">
            
			<br>
            <br>
        <div class="submit">
        <input type="submit" value="Submit"></div></div></div>
    </div>
        </form>
      
</body>
</html>
